In [11]:
import pandas as pd
import os #provides functions for interacting with operting system
import plotly.express as px #simple syntax for complex charts through plots
import numpy as np 
import matplotlib
import matplotlib.pyplot as plt
import squarify
import pygal #scalable vectors
import seaborn as sns 
import plotly.graph_objects as go
from itertools import repeat
import plotly

In [2]:
pwd

'/Users/irawati'

In [48]:
mumleave= pd.read_csv('/Users/Irawati/Desktop/mumleave.csv')
mumleave['district_eng']=mumleave['district_eng'].replace(['Mumbai'], 'Mumbai city')
mumleave

       district_eng  year  Count
0       Mumbai city  2011  10747
1   Mumbai Suburban  2011  89665
2           Palghar  2011   5944
3            Raigad  2011   3223
4             Thane  2011  24219
5       Mumbai city  2012  11624
6   Mumbai Suburban  2012  94480
7           Palghar  2012   7593
8            Raigad  2012   4475
9             Thane  2012  30213
10      Mumbai city  2013   9416
11  Mumbai Suburban  2013  84249
12          Palghar  2013   8680
13           Raigad  2013   4848
14            Thane  2013  29806
15      Mumbai city  2014  11453
16  Mumbai Suburban  2014  71716
17          Palghar  2014  10521
18           Raigad  2014   6148
19            Thane  2014  33240
20      Mumbai city  2015  11607
21  Mumbai Suburban  2015  78936
22          Palghar  2015   6435
23           Raigad  2015   9320
24            Thane  2015  36613
25      Mumbai city  2016  10439
26  Mumbai Suburban  2016  62685
27          Palghar  2016   9799
28           Raigad  2016   8261
29            Thane  2016  33600
30      Mumbai city  2017   5522
31  Mumbai Suburban  2017  38530
32          Palghar  2017   5651
33           Raigad  2017   5730
34            Thane  2017  26985
35      Mumbai city  2018   4869
36  Mumbai Suburban  2018  20544
37          Palghar  2018   4722
38           Raigad  2018   4032
39            Thane  2018  17902
40      Mumbai city  2019   4185
41  Mumbai Suburban  2019  14564
42          Palghar  2019   5289
43           Raigad  2019   2886
44            Thane  2019  13433
45      Mumbai city  2020   2058
46  Mumbai Suburban  2020   5807
47          Palghar  2020   1599
48           Raigad  2020    987
49            Thane  2020   3919

In [50]:
DISTRICT_ENG=mumleave['district_eng']
COUNT=mumleave['Count']
YEAR= mumleave['year']
figmum= px.treemap(mumleave,path=[DISTRICT_ENG,YEAR],values=COUNT, color=COUNT, color_continuous_scale=['green','yellow','red'],title='Leave and license agreement registrations by district from 2011 to 2020')
figmum.update_layout(title_font_size=40,title_font_family= 'Arial')
figmum.layout.font.size = 18

plotly.offline.plot(figmum, filename='Yearly leave and licence registrations trend by district.html')

'Yearly leave and licence registrations trend by district.html'

In [ ]:
plotly.offline.plot(figmum, filename='Yearly leave and licence registration trend by district.html')